
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GlitchyPastePen</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/public/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--     <script>hljs.initHighlightingOnLoad();</script> -->
    <script src="/public/script.js"></script>
    <style>
      body {
        background-color: #272822;
        color: white;
      }
      
      #editor { 
        position: absolute;
        top: 200px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    </style>
  </head>
  <body>
      <center>
          <br>
         <h1>404</h1>
         <p>Not Found, Maybe <a href="/">Go Home?</a>
      </center>
   </body>
</html>
      
     
     
