<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mini Glitch</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" type="text/javascript" charset="utf-8"></script>

    <script src="/script.js"></script>
  </head>
  <body style="background-color:#1f2430;">
    <header>
      <span id="status"> </span>
      <button id="logout">
        <a href="/logout">Log out</a>
      </button>
      <button style="float:right;margin-right:10px;">
        <a href="/me">My Projects</a>
      </button>
      <p class="p-title">
        <i>PROJECT NAME</i>
      </p>
      <input type="text" id="project-name" oninput="changename()" />
      <br />
      <div id="option">
        <img src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Ftick%20(1).svg?v=1590470313515" style="width:30px;display:inline-block;cursor:pointer;display: inline-block;cursor: pointer;width: 40px;margin-top: auto;vertical-align: text-bottom;">
        <img src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fcancel.svg?v=1590469975627" style="width:30px;display:inline-block;cursor:pointer;" onclick="cancel()">
      </div>
      <p class="empty">
        <a href="" class="owner"></a>
      </p>
      <button id="deploy" onclick="deploy();" title="Save code!">
        <img
          src="https://img.icons8.com/cotton/100/000000/save.png"
          height="40px"
        />
      </button>
    </header>
    <br /><br />
    <div id="editor" oninput="save();">
      <h1>
        Hi
      </h1>
    </div>

    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/html");

      
      let projecturl = window.location.href;
      let projectname = projecturl.slice(41);
      document.getElementById("project-name").value = projectname;

      let name = document.getElementById("project-name").value;
      let path = "/getCode/" + name;
      fetch(path)
        .then(response => response.json())
        .then(data => {
          editor.setValue(data.code);
        });

      fetch("/projectinfo/" + projectname)
        .then(response => response.json())
        .then(data => {
          document.getElementsByClassName("owner")[0].innerText =
            "by " + data.owner;
          document.getElementsByClassName("owner")[0].href = "/u/" + data.owner;
        });

      function deploy() {
        let code = editor.getValue();
        let name = document.getElementById("project-name").value;
        let content = { code: code, name: name };

        fetch("/deploy", {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(content)
        })
          .then(response => response.json())
          .then(data => {
            if (data.status === 200) {
              document.getElementById("status").style.display = "block";
              document.getElementById("status").onclick = function() {
                this.style.display = "none";
              };
              document.getElementById("status").innerHTML =
                "Your project has been successfully deployed <br />at <a href=\"/p/" + name + "\">https://glitchypastepen.glitch.me/p/" +
                name + "</a>";
            } else {
              document.getElementById("status").style.display = "block";
              document.getElementById("status").style.backgroundColor = "red";
              document.getElementById("status").innerHTML =
                "Something went wrong! <br />Try again?";
            }
          });
      }
      
      function cancel() {
        
      }
    </script>
  </body>
</html>
