<html>
  <head>
    <link rel="stylesheet" href="/public/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Primary Meta Tags -->
    <title>GlitchyPastePen</title>
    <meta name="title" content="GlitchyPastePen" />
    <meta
      name="description"
      content="Create simple front-end projects (mainly with HTML, CSS and JS) using an online code editor with instant hosting."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://glitchypastepen.glitch.me/" />
    <meta property="og:title" content="GlitchyPastePen" />
    <meta
      property="og:description"
      content="Create simple front-end projects (mainly with HTML, CSS and JS) using an online code editor with instant hosting."
    />
    <meta
      property="og:image"
      content="https://cdn.khaleelgibran.com/img/glitchypastepen.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://glitchypastepen.glitch.me/" />
    <meta property="twitter:title" content="GlitchyPastePen" />
    <meta
      property="twitter:description"
      content="Create simple front-end projects (mainly with HTML, CSS and JS) using an online code editor with instant hosting."
    />
    <meta
      property="twitter:image"
      content="https://cdn.khaleelgibran.com/img/glitchypastepen.png"
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="https://cdn.khaleelgibran.com/img/glitchypastepen.png"
          height="100px"
      /></a>
      <span style="float:right;margin-right:20px;">
        <a
          href="https://github.com/login/oauth/authorize?client_id=b1619bb3723d36119cfa"
          ><button>
            Login
          </button></a
        >
        <a
          href="https://github.com/login/oauth/authorize?client_id=b1619bb3723d36119cfa"
          ><button>
            Signup
          </button></a
        >
      </span>
    </header>
    <div id="blob">
      <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="#8A3FFC"
          d="M45,-38.4C56.9,-33.2,64,-16.6,62.2,-1.8C60.3,12.9,49.5,25.8,37.6,36.6C25.8,47.4,12.9,56,1.8,54.2C-9.3,52.4,-18.5,40.1,-32.7,29.3C-46.8,18.5,-65.9,9.3,-70.7,-4.8C-75.4,-18.8,-65.9,-37.6,-51.7,-42.8C-37.6,-48,-18.8,-39.7,-1.1,-38.6C16.6,-37.5,33.2,-43.6,45,-38.4Z"
          transform="translate(100 100)"
        />
      </svg>
    </div>
    <div id="intro">
      <h1 class="main">
        GlitchyPastePen.
      </h1>
      <p class="desc">
        A web project I created aimed at creating simple websites using HTML,
        CSS and JS along with instant hosting.
      </p>
      <center>
        <img
          src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fscreely-1591191781898.png?v=1591191852875"
          width="100%"
        />
      </center>
    </div>

    <br /><br />

    <!-- lot of line breaks -->
    <br /><br /><br />

    <script src="/public/login.js"></script>
    <footer>
      <small>
        &copy; 2020 @khalby786 and @17lwinn (The GlitchyPastePen devs)
      </small>
      <br /><br />
      <a href="/status"
        ><button>
          Site health graphs
        </button></a
      >
    </footer>
  </body>
</html>
